html
    head
        title HW #10_1
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500")
    body
        form#addCookie
            input(type='text', name='cookieName')
            input(type='text', name='cookieValue')
            input(type='text', name='cookieDate')
            input.submit(type='submit' name='cookie-add')
        script(src="js/hw10.js")