html
    head
        title HW #7
        link(rel="stylesheet" href='css/hw7.css')
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500")
    body
        section.wrapper-generator
            button#generateBtn Generate DIV

        script(src="hw7.js")