html
    head
        title HW #7
        link(rel="stylesheet" href='css/hw7.css')
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500")
    body
        section.accordeon
            .accordeon-wrapper
                h2 Simple accordeon
                h3 by Eugene Bredyuk
                ul.accordeon-list
                    li.accordeon-item
                        a.accordeon-trigger CLICK ME
                        p.accordeon-content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos eos fugit impedit laudantium nam nihil, quas ratione sapiente suscipit tempora.
                    li.accordeon-item
                        a.accordeon-trigger CLICK ME
                        p.accordeon-content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos eos fugit impedit laudantium nam nihil, quas ratione sapiente suscipit tempora.
                    li.accordeon-item
                        a.accordeon-trigger CLICK ME
                        p.accordeon-content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos eos fugit impedit laudantium nam nihil, quas ratione sapiente suscipit tempora.
        script(src="hw7.js")