html
    head
        title HW #8_2
        //link(rel="stylesheet" href='css/hw7.css')
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500")
    body
        section.wrapper-generator
            button#sendXHR Generate XHR Request

        script(src="hw8.js")